.a-btn{
    background:#3bb3e0;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#3bb3e0,0),color-stop(#3bb3e0,1));
    background:-webkit-linear-gradient(top, #3bb3e0 0%, #3bb3e0 100%);
    background:-moz-linear-gradient(top, #3bb3e0 0%, #3bb3e0 100%);
    background:-o-linear-gradient(top, #3bb3e0 0%, #3bb3e0 100%);
    background:linear-gradient(top, #3bb3e0 0%, #3bb3e0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb3e0', endColorstr='#3bb3e0',GradientType=0 );
    border:1px solid #3bb3e0;
    border-color:#3bb3e0 #3bb3e0 #3bb3e0;
    -webkit-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #3bb3e0;
    -moz-box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #3bb3e0;
    box-shadow:0 1px 1px #d3d3d3, inset 0 1px 0 #3bb3e0;
    padding:0px 80px 0px 10px;
    height:38px;
    display:inline-block;
    position:relative;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    float:left;
    margin:0px;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
    text-decoration: none;
	-webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
}
.a-btn-text{
    padding-top:5px;
    display:block;
    font-size: 1em;
    white-space:nowrap;
    color:#fff;
    text-shadow:0 1px 0 #3bb3e0;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn-slide-text{
    position:absolute;
    top:35px;
    left:0px;
    width:auto;
    right:52px;
    height:0px;
    background:#fff;
    color:#996633;
    font-size:13px;
    white-space:nowrap;
    font-family: Verdana, Georgia, serif;
    font-weight: bold;
    text-indent:15px;
    overflow:hidden;
    line-height:px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.5) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.5) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.5) inset;
    -webkit-transition:height 0.3s linear;
    -moz-transition:height 0.3s linear;
    -o-transition:height 0.3s linear;
    transition:height 0.3s linear;
}
.a-btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #3bb3e0;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
    width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url(images/arrow_right.png) no-repeat 50% 55%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn:hover{
    height:65px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
}
.a-btn:hover .a-btn-text{
    text-shadow:0px 1px 1px rgba(0,0,0,0.2);
    color:#fff;
}
.a-btn:hover .a-btn-slide-text{
    height:30px;
}
.a-btn:hover .a-btn-icon-right span{
    opacity:1;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}
.a-btn:active{
    position:relative;
    top:1px;
    background:#fec354;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#3bb3e0,0),color-stop(#3bb3e0,1));
    background:-webkit-linear-gradient(top, #3bb3e0 0%, #3bb3e0 100%);
    background:-moz-linear-gradient(top, #3bb3e0 0%, #3bb3e0 100%);
    background:-o-linear-gradient(top, #3bb3e0 0%, #3bb3e0 100%);
    background:linear-gradient(top, #3bb3e0 0%, #3bb3e0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb3e0', endColorstr='#3bb3e0',GradientType=0 );
    border-color:#3bb3e0 #3bb3e0 #3bb3e0;
    text-shadow:0 1px 0 #fee1a0;
    -webkit-box-shadow:0 1px 1px #3bb3e0, inset 0 1px 0 #3bb3e0;
    -moz-box-shadow:0 1px 1px #3bb3e0, inset 0 1px 0 #3bb3e0;
    box-shadow:0 1px 1px #3bb3e0, inset 0 1px 0 #3bb3e0;
}
